/* Styling titles */
[data-rehype-pretty-code-title] {
  background-color: #6f4870;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  color: #eee;
  margin-bottom: -1.5rem;
  padding: 0.5rem;
  text-align: center;
}

/* Styling captions */
[data-rehype-pretty-code-caption] {
  text-align: center;
  font-size: 1rem;
  line-height: 1.25rem;
}

/* Styling highlighted blocks */
[data-highlighted-line],
[data-highlighted-chars] {
  background-color: rgba(49, 173, 113, 0.4);
}

[data-highlighted-line] {
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #6f4870;
}

/* Styling line numbers */
[data-rehype-pretty-code-fragment] pre > code {
  display: grid;
  counter-reset: line;
}

[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

/* Neaten everything up */
[data-rehype-pretty-code-fragment] pre {
  padding-left: 0;
  padding-right: 0;
  overflow-x: scroll;
}

[data-line] {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

[data-rehype-pretty-code-title] + pre {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* Light/dark themes*/
@media (prefers-color-scheme: dark) {
  *[data-theme="light"] {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  *[data-theme="dark"] {
    display: none;
  }
}

.slack-ochin {
  background-color: #eee !important;
}
